CORE_Autenticacion
CORE_Basica
CORE_BusquedaServicios
CORE_ConsultarServicio
CORE_GaleriaVirtual
CORE_Fotos
CORE_Videos
CORE_Preguntas
CORE_Realizar
CORE_Responder
CORE_Transacciones
CORE_Comprar
CORE_Servicio
CORE_Paquete
CORE_Carrito
EnvioMensajes
CORE_Administracion
CORE_CrearCategorias
CORE_ActualizacionDatos
CORE_Usuarios
CORE_Proveedor
CORE_BajaServicios
CORE_RegistroProveedores
CORE_PublicarOfertas
CORE_CORE_CrearServicio
CORE_CrearPaquete
CalificarServicios
