<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>  
        </div>
    </li>

    <li class="hidden-xs">
        <a href="#home.html" class="m-l-10" data-ng-click="mactrl.sidebarStat($event)"><img src="img/logo2.png" alt=""></a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">


            <li id="top-search">
                <a href="" data-ng-click="hctrl.openSearch()"><i class="tm-icon zmdi zmdi-search"></i></a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-email"></i>
                </a>

            </li>

            <li class="dropdown hidden-xs" uib-dropdown ng-controller="CanastaCtrl" data-ng-class="tableCanastaHeader">
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-local-grocery-store"></i>
                    <i class="tmn-counts">{{canasta.length}}</i>
                </a>
                <div class="dropdown-menu pull-right dropdown-menu-lg">
                    <div class="listview">
                        <div class="lv-header">
                            Carro De Compras
                        </div>
                        <div class="text-center" ng-if="canasta.length == 0">
                            Carro de compras vacio.<br>&nbsp;
                        </div>
                        <table>
                            <tr class="lv-item" ng-repeat="data in canasta | limitTo:4">
                                <td>
                                    <div class="pull-left">
                                        <img class="lv-img" data-ng-src={{data.url}} alt="" src={{data.url}}>
                                    </div>
                                </td>
                                <td>&nbsp;&nbsp;&nbsp;</td>
                                <td width="60%">
                                    <div class="lv-title m-b-5"><a href="#" data-ui-sref="productos.detalle"
                                                                   ng-click="detailProd(data.id_producto)">{{data.nombre}}</a></div>
                                    <small class="lv-title">Cantidad:{{data.cantidad}}</small>
                                    <small class="lv-title">Valor:${{data.precio | number}}</small>
                                    <small class="lv-title">Valor Total:${{data.precio_total | number}}</small>
                                </td>
                            </tr>
                        </table>
                        <div class="clearfix"></div>
                        <a class="lv-footer" href="" data-ui-sref="canasta.lista" ng-if="canasta.length != 0">Ver Todos</a>
                    </div>
                </div>
            </li>
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dm-icon pull-right">


                    <li ng-show="mactrl.getNombreUsuario()!=null">
                        <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)" ><i
                                class="zmdi zmdi-account"></i>Perfil</a>
                    </li>

                    <li ng-show="mactrl.getNombreUsuario()!=null">
                        <a href="/login.html" data-ng-click="sessionStorage.clear();"><i class="zmdi zmdi-time-restore"></i>Salir</a>
                    </li>

                    <li><a href="login.html" ng-show="mactrl.getNombreUsuario()==null"><i class="zmdi zmdi-key"></i>Iniciar sesión</a></li>
                </ul>
            </li>

        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ui-sref="productos.busqueda" data-ng-click="hctrl.closeSearch();" ui-sref-opts="{reload: true}"></i>
        <input type="text" ng-model="producto.search" id="criterios" >
    </div>
    <a class="btn bgm-red waves-effect" tooltip-class="tooltip-red" data-ng-click="hctrl.closeSearch()">X</a>

</div>
