<div class="container" ng-controller="CanastaCtrl">
    <div class="block-header">
        <h2>Table</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="card">
        <div class="card-body card-padding">
            <div class="clearfix"></div>

            <div class="row m-t-25 p-0 m-b-25">
                <div class="col-xs-3">
                    <div class="bgm-amber brd-2 p-15">
                        <div class="c-white m-b-5">Invoice#</div>
                        <h2 class="m-0 c-white f-300">456213</h2>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="bgm-blue brd-2 p-15">
                        <div class="c-white m-b-5">Date</div>
                        <h2 class="m-0 c-white f-300">20/06/2015</h2>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="bgm-green brd-2 p-15">
                        <div class="c-white m-b-5">Whatever</div>
                        <h2 class="m-0 c-white f-300">472-000</h2>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="bgm-red brd-2 p-15">
                        <div class="c-white m-b-5">Grand Total</div>
                        <h2 class="m-0 c-white f-300">$23,980</h2>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <table class="table i-table m-t-25 m-b-25">
                <thead class="text-uppercase">
                <tr><th class="c-gray">Servicio</th>
                    <th/>
                    <th class="c-gray" align="center">Precio Unitario</th>
                    <th class="c-gray" align="center">Cantidad</th>
                    <th class="highlight" align="center">Total</th>
                </tr></thead>

                <tbody>
                </tbody><thead>
                    <tr ng-repeat="data in datos">
                        <td>
                            <div class="pull-left">
                                <img class="lv-img-m" data-ng-src="http://www.dilos.com/picture/hotel/19056" alt="" src="http://www.dilos.com/picture/hotel/19056">
                            </div>
                        </td>
                        <td width="50%">
                            <h5 class="text-uppercase f-400"><a ng-href="#/canasta/{{data.id}}">{{data.nombre}}</a></h5>
                            <p class="text-muted">Nullam <consectet></consectet>ur dolor nec ullamcorper finibus. Quisque a porta mauris, non venenatis mi. Pellentesque habitant morbi tristique</p>
                        </td>
                        <td>$450.00</td>
                        <td align="center">{{data.cantidad}}</td>
                        <td class="highlight">{{data.precioTotal}}</td>
                        <!--<td><a ng-href="#/canasta/{{data.id}}">{{data.id}}</a></td>
                        <td>{{data.nombre}}</td>-->
                        <td ><button class="btn bgm-cyan btn-icon waves-effect waves-circle"><i class="zmdi zmdi-delete"></i></button></td>
                    </tr>

            <tr>
                <td colspan="4"></td>
                <td class="highlight" >$20,092.00</td>
            </tr>
            </thead>
            </table>
        </div>
    </div>
</div>
