<div class="container" ng-controller="CanastaCtrl" data-ng-class="container">
    <div class="block-header">
        <h2>CARRO DE COMPRAS</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="card">
        <div class="card-body card-padding">
            <div class="clearfix"></div>

            <table class="table i-table m-t-25 m-b-25" ng-table="tableCanasta">
                <thead class="text-uppercase">
                <tr><th class="c-gray">Servicio</th>
                    <th/>
                    <th class="c-gray" align="center">Precio Unitario</th>
                    <th class="c-gray" align="center">Cantidad</th>
                    <th class="highlight" align="center">Total</th>
                </tr></thead>

                <tbody>
                </tbody><thead>
                    <tr ng-repeat="data in canasta" class="{{data.clase}}">
                        <td>
                            <div class="pull-left">
                                <img class="lv-img-m" data-ng-src={{data.url}} alt="" src={{data.url}}>
                            </div>
                        </td>
                        <td width="50%">
                            <div class="c-red text-center">{{data.error}}</div>
                            <h5 class="text-uppercase f-400"><a href="#" data-ui-sref="productos.detalle" ng-click="detailProd(data.id_producto)"> {{data.nombre}} </a></h5>
                            {{data.descripcion}}
                        </td>
                        <td>${{data.precio | number}}</td>
                        <td align="center">{{data.cantidad}}</td>
                        <td class="highlight">${{data.precio_total | number}}</td>
                        <td>
                            <button class="btn bgm-cyan btn-icon waves-effect waves-circle" ng-click="borrarProductoCanasta(data.id_item)">
                                <i class="zmdi zmdi-delete" />
                            </button>
                        </td>
                    </tr>

            <tr>
                <td colspan="4"></td>
                <td class="highlight" ><b>${{canasta[0].preciocanasta | number}}</b></td>
            </tr>
            </thead>
            </table>
        </div>

        <div class="clearfix"></div>

        <div class="modal-footer">
            <button class="btn bgm-cyan waves-effect " ng-click="confirmarCanasta()" ng-if="canasta.length > 0">
                <i class="zmdi zmdi-money-box zmdi-hc-fw" />
                Completar Transacción
            </button>
        </div>

        <div class="clearfix"><br></div>

    </div>
</div>