<div class="container" ng-controller="ProductosCtrlProveedor">
    <div class="block-header">
        <h2>Gestión de productos - Crear producto</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="card">
        <div class="card-header">
            <h2>Crear productos
                <small>Crear productos pertenece a la sección de gestion de productos
                </small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <p class="c-black f-500 m-b-5">Crear nuevo producto</p>
            <small>En esta sección usted puede crear un nuevo producto</small>

            <br/><br/>

            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="tipoCrear">Seleccione tipo de producto</label>
                            <select data-placeholder="Tipo de producto..." class="w-100" id="tipoCrear"
                                    ng-model="producto.tipo_producto_id">
                                <option value="1">ALOJAMIENTO</option>
                                <option value="2">ALIMENTACION</option>
                                <option value="3">TRANSPORTE</option>
                                <option value="4">PASEOS ECOLÓGICOS</option>
                            </select>
                        </div>

                    </div>

                </div>
                <div class="=col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="nombreCrear">Nombre del producto</label>
                            <input class="form-control" rows="4" placeholder="Nombre del producto...."
                                   ng-model="producto.nombre" id="nombreCrear">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>

            </div>
            <br/><br/>
            <div class="row">
                <div class="=col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="descripcionCrear">Descripción del producto</label>
                            <textarea class="form-control" rows="4" placeholder="Añadir descripción...."
                                      ng-model="producto.descripcion" id="descripcionCrear"></textarea>
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>
            </div>


            <div class="row" data-ng-show="producto.tipo_producto_id == '1'">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="tipoHabitacion">Tipo Habitación</label>
                            <select data-placeholder="Tipo Habitación..." class="w-100" id="tipoHabitacion"
                                    ng-model="producto.caracteristicas.tipoHabitacion">
                                <option value="clasica">CLASICA</option>
                                <option value="vip">VIP</option>
                                <option value="suite">SUITE</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="acomodacion">Acomodación</label>
                            <select data-placeholder="Tipo Habitación..." class="w-100" id="acomodacion"
                                    ng-model="producto.caracteristicas.acomodacion">
                                <option value="sencilla">SENCILLA</option>
                                <option value="doble">DOBLE</option>
                                <option value="multiple">MULTIPLE</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="=col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="cantidadCamas">Camas</label>
                            <input class="form-control" rows="4" placeholder="Cantidad camas...."
                                   ng-model="producto.caracteristicas.camas" id="cantidadCamas">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>
            </div>

            <div class="row" data-ng-show="producto.tipo_producto_id == '2'">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="tipoAlimentacion">Tipo Alimentación</label>
                            <select data-placeholder="Tipo Alimentacion..." class="w-100" id="tipoAlimentacion"
                                    ng-model="producto.caracteristicas.tipoAlimentacion">
                                <option value="desayuno">Desayuno</option>
                                <option value="almuerzo">Almuerzo</option>
                                <option value="tres_comidas">Tres Comidas</option>
                            </select>
                        </div>

                    </div>

                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="bebidasIlimitadas">Bebidas Ilimitadas</label>
                            <select data-placeholder="Bebidas Ilimitadas..." class="w-100" id="bebidasIlimitadas"
                                    ng-model="producto.caracteristicas.bebidasIlimitadas">
                                <option value="si">SI</option>
                                <option value="no">NO</option>

                            </select>
                        </div>

                    </div>

                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="todoIncluido">Todo Incluido</label>
                            <select data-placeholder="Todo Incluido..." class="w-100" id="todoIncluido"
                                    ng-model="producto.caracteristicas.todoIncluido">
                                <option value="si">SI</option>
                                <option value="no">NO</option>

                            </select>
                        </div>

                    </div>

                </div>


            </div>


            <div class="row" data-ng-show="producto.tipo_producto_id == '3'">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="tipoTransporte">Tipo Transporte</label>
                            <select data-placeholder="Tipo Transporte..." class="w-100" id="tipoTransporte"
                                    ng-model="producto.caracteristicas.tipoTransporte">
                                <option value="terrestre">TERRESTRE</option>
                                <option value="aereo">AEREO</option>
                                <option value="maritimo">MARITIMO</option>
                            </select>
                        </div>

                    </div>

                </div>

                </div>
            <div class="row" data-ng-show="producto.tipo_producto_id == '3'">

                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="salida">Salida</label>
                            <input class="form-control" rows="4" placeholder="Salida...."
                                   ng-model="producto.caracteristicas.salida" id="salida">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="horasalida">Hora Salida</label>
                            <input type="number" class="form-control" rows="4" placeholder="Hora Salida...."
                                   ng-model="producto.caracteristicas.horasalida" id="horasalida">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="llegada">Llegada</label>
                            <input class="form-control" rows="4" placeholder="Llegada...."
                                   ng-model="producto.caracteristicas.llegada" id="llegada">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="horallegada">Hora Llegada</label>
                            <input type="number" class="form-control" rows="4" placeholder="Hora Llegada...."
                                   ng-model="producto.caracteristicas.horallegada" id="horallegada">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>

            </div>

            <div class="row" data-ng-show="producto.tipo_producto_id == '4'">

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="salidapaseo">Lugar de Salida</label>
                            <input class="form-control" rows="4" placeholder="Salida...."
                                   ng-model="producto.caracteristicas.salida" id="salidapaseo">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="horasalidapaseo">Hora Salida</label>
                            <input type="number" class="form-control" rows="4" placeholder="Hora Salida...."
                                   ng-model="producto.caracteristicas.horasalida" id="horasalidapaseo">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>


                <div class="col-sm-3">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="horaregreso">Hora de Regreso</label>
                            <input type="number" class="form-control" rows="4" placeholder="Hora Regreso...."
                                   ng-model="producto.caracteristicas.horaregreso" id="horaregreso">
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>

            </div>

            <br/><br/>
            <div class="row">
                <br/>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi zmdi-money"></i></span>
                        <div class="fg-line">
                            <label for="precioCrear">Precio por producto</label>
                            <input type="text" class="form-control" data-input-mask="{mask: '000000000'}"
                                   placeholder="Precio" ng-model="producto.precio" id="precioCrear">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="fg-line">
                            <label for="cantidadCrear">Cantidad disponible</label>
                            <input type="text" class="form-control" data-input-mask="{mask: '0000'}"
                                   placeholder="Cantidad" ng-model="producto.cantidad" id="cantidadCrear">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="tipoEstado">Seleccione el estado de su producto</label>
                            <select data-placeholder="Seleccione estado..." class="w-100" id="tipoEstado"
                                    ng-model="producto.estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                    </div>
                    <br/>
                    <br>
                </div>
            </div>
            <br/><br/>
            <!-- DIRECCION-->
            <div class="card-body card-padding">
                <p class="c-black f-500 m-b-5">Direccion</p>
                <small>En esta sección usted puede asignar la dirección de su producto</small>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                            <div class="fg-line">
                                <label for="direccionCrear">Dirección</label>
                                <input type="text" class="form-control"
                                       placeholder="Direccion" ng-model="producto.nombredireccion" id="direccionCrear">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi"></i></span>
                            <div class="fg-line">
                                <label for="latitudCrear">Latitud</label>

                                <input type="text" class="form-control"
                                       placeholder="Latitud" ng-model="producto.latitud" id="latitudCrear">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi"></i></span>
                            <div class="fg-line">
                                <label for="longitudCrear">Longitud</label>

                                <input type="text" class="form-control"
                                       placeholder="Longitud" ng-model="producto.longitud" id="longitudCrear">
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon last"><i class="zmdi zmdi-globe"></i></span>

                            <div class="fg-line">
                                <label for="paisCrear">Seleccione pais</label>
                                <select ng-model="producto.pais" placeholder="Seleccione pais..." id="paisCrear">
                                    <option ng-selected="{{producto.pais == operator.valor}}"
                                            ng-repeat="operator in listaValores"
                                            value="{{operator.valor}}">
                                        {{operator.valor}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon last"><i class="zmdi zmdi-city-alt"></i></span>
                            <div class="fg-line">
                                <label for="departamentoCrear">Departamento</label>
                                <input type="text" class="form-control"
                                       placeholder="Departamento" ng-model="producto.departamento"
                                       id="departamentoCrear">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon last"><i class="zmdi zmdi-city"></i></span>

                            <div class="fg-line">
                                <label for="ciudadCrear">Ciudad</label>

                                <input type="text" class="form-control"
                                       placeholder="Ciudad" ng-model="producto.ciudad" id="ciudadCrear">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--IMAGNES-->
            <div class="card-body card-padding">
                <div class="col-xs-1">
                    <span class=" btn btn-success btn-file m-r-10" style="cursor: pointer">
                        <i class="zmdi zmdi-plus zmdi-hc-fw"></i>
                        <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
                    </span>
                </div>
                <div class="col-xs-6">
                    <p class="c-black f-500 m-b-5">Galeria</p>
                    <small>Adicionar Imagen</small>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="card-body card-padding">
                <div class="lightbox photos">
                    <div class="fileinput fileinput-new col-xs-3" data-provides="fileinput" ng-repeat="imagen in imagenesCargadas">
                        <div class="fileinput-preview thumbnail">
                            <img ng-src="{{imagen.img}}"/><div class="clearfix"></div>
                            <a ng-click="eliminarFoto(imagen.$$hashKey)"><i class="zmdi zmdi-delete zmdi-hc-fw"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="clearfix"></div>


            <!-- Botones de Confirmación -->
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="btn btn-success btn-file m-r-10" data-ng-click="insertarProducto()">Guardar</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="btn btn-warning btn-file m-r-10" data-ui-sref="productos.lista">Cancelar</span>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>



            <!--
            prueba para captura la ubicacion del servicio
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.9595625425777!2d-74.0667562469883!3d4.601265438892942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xa1257e7013f3eb50!2sUniversidad+de+los+Andes!5e0!3m2!1ses-419!2sco!4v1459462887243" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            -->

        </div>
    </div>
</div>
