<div class="container" ng-controller="ProductosDetalle">


    <div class="block-header"  ng-repeat="data in datos" >
        <h2>{{data.nombre}}<small>{{data.tipo}}</small></h2>


    </div>

    <div class="card" id="profile-main" ng-repeat="data in datos">

        <div class="pm-overview c-overflow">

            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="{{data.url}}" alt="">
                    </a>

                    <div class="dropdown pmop-message" dropdown>
                        <button dropdown-toggle class="btn bgm-white btn-float">
                            <h2 class="m-0 c-green">{{data.calificacion_promedio}}</h2>
                        </button>


                    </div>
                </div>

                <div class="pmo-stat">
                    Calificación
                </div>
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Información</h2>



                <ul>
                    <li><i class="zmdi zmdi-calendar"></i> {{ data.fecha_registro }}</li>
                    <li><i class="zmdi zmdi-local-offer"></i> {{ data.tipo }}</li>
                    <li>
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0">
                            {{ data.direccion }}
                        </address>
                    </li>
                </ul>




            </div>

            <div class="pmo-block pmo-items hidden-xs">
                <h2>Vendedor</h2>

                <div class="pmob-body">
                    <div class="row">
                        <a href="" class="col-xs-2">
                            <img class="img-circle" src="{{data.foto}}" alt="">
                        </a>
                        <li>{{data.vendedor}}</li>
                    </div>
                </div>
            </div>

            <div class="card pt-inner">
                <div class="pti-footer">
                    <h2><i class="zmdi zmdi-local-grocery-store m-r-5"></i> Agregar a Carrito </h2>
                    <a href="" class="bgm-green"><i class="zmdi zmdi-plus"></i></a>
                </div>
            </div>


        </div>



        <div class="pm-body clearfix">

            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-equalizer m-r-5"></i> Información básica </h2>
                    </br>

                    <div class="card pt-inner">
                        <div class="pti-header bgm-green">
                            <h2>Precio: ${{data.precio}} <small>| pesos</small></h2>
                            <div class="ptih-title">Cantidad disponible: {{data.cantidad_actual}}</div>
                        </div>


                        <div class="pti-body">
                            <div class="ptib-item">
                                {{data.descripcion}}
                            </div>
                        </div>



                    </div>


                </div>

            </div>

            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-instagram m-r-5"></i> Galería </h2>
                    </br></br>
                    <div class="card">
                        <div class="card-body card-padding p-t-0" data-ng-controller="ProductosDetalle">

                            <carousel interval="myInterval">
                                <slide ng-repeat="w in galeria" active="slide.active">
                                    <img ng-src="{{w.url}}">
                                    <div class="carousel-caption" data-ng-if="w.descripcion.length > 0">
                                        <h3>{{w.descripcion}}</h3>
                                    </div>
                                </slide>
                            </carousel>




                        </div>
                    </div>
                </div>
            </div>

            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>

                    <ul class="actions" data-ng-if="pctrl.editInfo === 0">
                        <li class="dropdown" dropdown>
                            <a href="" dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a data-ng-click="pctrl.editInfo = 1" href="">Edit</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pmbb-body p-l-30">
                    <div class="pmbb-view" data-ng-if="pctrl.editInfo === 0">
                        <dl class="dl-horizontal">
                            <dt>Full Name</dt>
                            <dd>{{ pctrl.fullName }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Gender</dt>
                            <dd>{{ pctrl.gender }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Birthday</dt>
                            <dd>{{ pctrl.birthDay }}</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Martial Status</dt>
                            <dd>{{ pctrl.martialStatus }}</dd>
                        </dl>
                    </div>

                    <form data-ng-submit="pctrl.submit('profileInfo', 'Profile Information')" class="pmbb-edit" data-ng-if="pctrl.editInfo === 1">
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Full Name</dt>
                            <dd>
                                <div class="fg-line">
                                    <input data-ng-model="pctrl.fullName" type="text" class="form-control" value="{{ pctrl.fullName }}" placeholder="eg. Mallinda Hollaway">
                                </div>

                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Gender</dt>
                            <dd>
                                <div class="fg-line">
                                    <select class="form-control">
                                        <option>Female</option>
                                        <option>Male</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Birthday</dt>
                            <dd>
                                <div class="dtp-container dropdown fg-line">
                                    <input type='text' class="form-control" data-dt-picker="DD/MM/YYYY" dropdown-toggle placeholder="eg. 23/06/1988">
                                </div>
                            </dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt class="p-t-10">Martial Status</dt>
                            <dd>
                                <div class="fg-line">
                                    <select class="form-control">
                                        <option>Single</option>
                                        <option>Married</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </dd>
                        </dl>

                        <div class="m-t-30">
                            <button class="btn btn-primary btn-sm" type="submit">Save</button>
                            <button class="btn btn-link btn-sm" data-ng-click="pctrl.editInfo = 0" >Cancel</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="pmb-block">
                <div class="pmbb-header">
                    <h2><i class="zmdi zmdi-person m-r-5"></i> Preguntas </h2>
                    <div class="ms-body">
                        <div class="listview lv-message">
                            <div class="lv-header-alt clearfix">
                                <div id="ms-menu-trigger"  data-ng-class="{ 'open': mactrl.lvMenuStat }" data-ng-click="mactrl.lvMenuStat = (mactrl.lvMenuStat===true ? false : true )">
                                    <div class="line-wrap">
                                        <div class="line top"></div>
                                        <div class="line center"></div>
                                        <div class="line bottom"></div>
                                    </div>
                                </div>

                                <div class="lvh-label hidden-xs">
                                    <div class="lv-avatar pull-left">
                                        <img src="img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <span class="c-black">David Parbell</span>
                                </div>

                                <ul class="lv-actions actions">
                                    <li>
                                        <a href="">
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="zmdi zmdi-check"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="zmdi zmdi-time"></i>
                                        </a>
                                    </li>
                                    <li class="dropdown" dropdown>
                                        <a href="" dropdown-toggle aria-expanded="true">
                                            <i class="zmdi zmdi-sort"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Latest</a>
                                            </li>
                                            <li>
                                                <a href="">Oldest</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown" dropdown>
                                        <a href="" dropdown-toggle aria-expanded="true">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <a href="">Refresh</a>
                                            </li>
                                            <li>
                                                <a href="">Message Settings</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>

                            <div class="lv-body">
                                <div class="lv-item media">
                                    <div class="lv-avatar pull-left">
                                        <img src="img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="ms-item">
                                            Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum sapien viverra et. Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:00</small>
                                    </div>
                                </div>

                                <div class="lv-item media right">
                                    <div class="lv-avatar pull-right">
                                        <img src="img/profile-pics/8.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="ms-item">
                                            Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:30</small>
                                    </div>
                                </div>

                                <div class="lv-item media">
                                    <div class="lv-avatar pull-left">
                                        <img src="img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="ms-item">
                                            Etiam ex arcumentum
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 09:33</small>
                                    </div>
                                </div>

                                <div class="lv-item media right">
                                    <div class="lv-avatar pull-right">
                                        <img src="img/profile-pics/8.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="ms-item">
                                            Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus. Praesent sed posuere sem. Cum sociis natoque penatibus et magnis dis parturient montes,
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 10:10</small>
                                    </div>
                                </div>

                                <div class="lv-item media">
                                    <div class="lv-avatar pull-left">
                                        <img src="img/profile-pics/1.jpg" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="ms-item">
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius. Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit massa, pulvinar at sapien sed, luctus vestibulum eros. Etiam finibus tristique ante, vitae rhoncus sapien volutpat eget
                                        </div>
                                        <small class="ms-date"><i class="zmdi zmdi-time"></i> 20/02/2015 at 10:24</small>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="lv-footer ms-reply">
                                <textarea placeholder="What's on your mind..."></textarea>

                                <button><i class="zmdi zmdi-mail-send"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>







    </div>
