<div class="container" ng-controller="ProductosCtrlProveedor">
    <div class="block-header">
        <h2>Gestión de productos - Editar producto</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
    <div class="card">
        <div class="card-header">
            <h2>Editar producto
                <small>Editar productos pertenece a la sección de gestion de productos
                </small>
            </h2>
        </div>

        <div class="card-body card-padding">
            <p class="c-black f-500 m-b-5">Editar nuevo producto</p>
            <small>En esta sección usted puede crear un nuevo producto</small>

            <br/><br/>

            <div class="row">
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="tipoCrear2">Seleccione tipo de producto</label>
                            <select ng-model="actualProducto.tipo" placeholder="Seleccione tipo..." id="tipoCrear2">
                                <option ng-selected="{{tipo.tipo_producto == operator.tipo}}"
                                        ng-repeat="operator in listaTipo"
                                        value="{{operator.tipo}}">
                                    {{operator.tipo}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="=col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon last"><i class="zmdi"></i></span>
                            <div class="fg-line">
                                <label for="nombreCrear">Nombre del producto</label>

                                <input class="form-control" rows="4"
                                       ng-model="actualProducto.nombre" id="nombreCrear">
                            </div>
                            <span class="input-group-addon last"><i class="zmdi"></i></span>

                        </div>
                    </div>
                </div>

            </div>
            <br/><br/>
            <!--segundo row-->
            <div class="row">
                <div class="=col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                        <div class="fg-line">
                            <label for="descripcionCrear">Descripción del producto</label>

                            <textarea class="form-control" rows="4" placeholder="Añadir descripción...."
                                      ng-model="actualProducto.descripcion" id="descripcionCrear"></textarea>
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>

                    </div>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <br/>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi zmdi-money"></i></span>
                        <div class="fg-line">
                            <label for="precioCrear">Precio por producto</label>
                            <input type="text" class="form-control" data-input-mask="{mask: '000000000'}"
                                   placeholder="Precio" ng-model="actualProducto.precio" id="precioCrear">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="fg-line">
                            <label for="cantidadCrear">Cantidad disponible</label>

                            <input type="text" class="form-control" data-input-mask="{mask: '0000'}"
                                   placeholder="Cantidad" ng-model="actualProducto.cantidad" id="cantidadCrear">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon last"><i class="zmdi zmdi-globe"></i></span>

                        <div class="fg-line">
                            <label for="tipoEstado">Seleccione el estado de su producto</label>

                            <select data-placeholder="Seleccione estado..." class="w-100" id="tipoEstado"
                                    ng-model="actualProducto.estado">
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </div>
                        <span class="input-group-addon last"><i class="zmdi"></i></span>
                    </div>
                    <br/>
                    <br>
                </div>

            </div>
            <br/><br/>
            <!-- DIRECCION-->
            <div class="card-body card-padding">
                <p class="c-black f-500 m-b-5">Direccion</p>
                <small>En esta sección usted puede asignar la dirección de su producto</small>
                <br/><br/>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-pin"></i></span>
                            <div class="fg-line">
                                <label for="direccionCrear">Dirección</label>

                                <input type="text" class="form-control"
                                       placeholder="Direccion" ng-model="actualProducto.nombredireccion"
                                       id="direccionCrear">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi"></i></span>
                            <div class="fg-line">
                                <label for="latitudCrear">Latitud</label>

                                <input type="text" class="form-control"
                                       placeholder="Latitud" ng-model="actualProducto.latitud" id="latitudCrear">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi"></i></span>
                            <div class="fg-line">
                                <label for="longitudCrear">Longitud</label>
                                <input type="text" class="form-control"
                                       placeholder="Longitud" ng-model="actualProducto.longitud" id="longitudCrear">
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon last"><i class="zmdi zmdi-globe"></i></span>
                                <div class="fg-line">
                                    <label for="paisCrear">Seleccione pais</label>
                                    <select ng-model="actualProducto.pais" placeholder="Seleccione pais..."
                                            id="paisCrear">
                                        <option ng-selected="{{producto.pais == operator.valor}}"
                                                ng-repeat="operator in listaValores"
                                                value="{{operator.valor}}">
                                            {{operator.valor}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon last"><i class="zmdi zmdi-city-alt"></i></span>
                                <div class="fg-line">
                                    <label for="departamentoCrear">Departamento</label>
                                    <input type="text" class="form-control"
                                           placeholder="Departamento" ng-model="actualProducto.departamento"
                                           id="departamentoCrear">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon last"><i class="zmdi zmdi-city"></i></span>

                                <div class="fg-line">
                                    <label for="ciudadCrear">Ciudad</label>

                                    <input type="text" class="form-control"
                                           placeholder="Ciudad" ng-model="actualProducto.ciudad" id="ciudadCrear">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--IMAGNES-->
            <br/><br/>
            <div class="row">
                <div class="col-md-4">
                    <span class="input-group-addon last"><i class="zmdi zmdi-cloud-upload"></i></span>
                <span class="btn btn-success btn-file m-r-10">Actualizar imágenes
                <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)"
                       multiple/>
                    </span>
                    <div ng-repeat="step in imagenesCargadas">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail">
                                <img ng-src="{{step.url}}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                                   </div>
                <div class="col-md-4">
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="btn btn-success btn-file m-r-10"
                              data-ng-click="actualizarProducto(actualProducto.id);">Actualizar</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="btn btn-warning btn-file m-r-10" data-ui-sref="productos.lista">Cancelar</span>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>

        </div>
    </div>
</div>
