<div class="container" data-ng-controller="MensajesCtrl as mctrl">
    <div class="block-header">
        <h2>Mensajes</h2>
    </div>

    <div class="card m-b-0" id="messages-main">

        <div class="ms-menu">
            <div class="listview lv-user m-t-20">

                <div class="lv-item media active" ng-repeat="u in usuarios" >
                    <a href="" data-ng-click="seleccionarUsuario(u);" >
                    <div class="lv-avatar pull-left">
                        <img src="{{u.foto}}" alt="">
                    </div>
                    <div class="media-body">
                        <div class="lv-title">{{u.nombre}}</div>

                    </div>
                    </a>
                </div>



            </div>


        </div>
 
        <div class="ms-body">
            <div class="listview lv-message">
                <div class="lv-header-alt clearfix">


                    <div class="lvh-label hidden-xs">
                        <div class="lv-avatar pull-left">
                            <img src="{{usuarioSeleccionado.foto}}" alt="">
                        </div>
                        <span class="c-black">{{usuarioSeleccionado.nombre}} {{usuarioSeleccionado.apellido}}</span>
                    </div>


                </div>

                <div class="lv-body">
                    <div ng-repeat="m in conversacion.mensajes" >
                    <div class="{{getClase(m)}}" >
                        <div class="media-body">
                            <div class="ms-item">
                                {{m.mensaje}}
                            </div>
                            <small class="ms-date"><i class="zmdi zmdi-time"></i> {{m.fecha}}</small>
                        </div>
                    </div>
                    </div>


                </div>
                
                <div class="clearfix"></div>

                <div class="lv-footer ms-reply">
                    <textarea ng-model="mensaje" placeholder="Escriba el mensaje aquí..."></textarea>
                    <button ng-click="enviarMensaje();" ><i class="zmdi zmdi-mail-send"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
