<div class="container" ng-controller="ProductosCtrl">
    <div class="block-header">
        <h2>SERVICIOS - PRODUCTOS</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="card">
        <div class="card-header">
            <h2>Servicios encontrados en el sistema
                <small>Click en el lápiz para editar un servicio</small>
            </h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                    <tr ng-repeat="w in datos" ng-class="{ 'active': w.$edit }">
                        <td data-title="'Identificador'">

                            <span ng-if="!w.$edit"><a ng-href="#/producto/{{w.id}}">{{w.id}}</a></span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.id"/></div>
                        </td>
                        <td data-title="'Nombre del servicio'">
                            <span ng-if="!w.$edit">{{ w.nombre }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.nombre"/></div>
                        </td>
                        <td data-title="'Descripción servicio'">
                            <span ng-if="!w.$edit">{{ w.descripcion }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.descripcion"/>
                            </div>
                        </td>
                        <td data-title="'Tipo servicio'">
                            <span ng-if="!w.$edit">{{ w.tipo }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.tipo"/></div>
                        </td>
                        <td data-title="'Precio'">
                            <span ng-if="!w.$edit">{{ w.precio }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="text" ng-model="w.precio"/></div>
                        </td>
                        <td data-title="'Última actualización'">
                            <span ng-if="!w.$edit">{{ w.fecha_actualizacion }}</span>
                            <div ng-if="w.$edit"><input class="form-control" type="date"
                                                        ng-model="w.fecha_actualizacion"/></div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info"><i
                                    class="zmdi zmdi-edit"></i>
                                <a data-ui-sref-active="active" data-ui-sref="productos.editar">Editar</a>
                               <!-- <button type="button" class="btn btn-info"><i
                                        class="zmdi zmdi-edit"></i>
                                    <a data-ui-sref-active="active" data-ui-sref="productos.editar"
                                       data-ng-click="mactrl.sidebarStat($event)">Editar</a>
                                </button>-->
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="borrarProducto(w.id)"><i
                                    class="zmdi zmdi-delete"></i>
                                <a>Borrar</a>
                            </button>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
