<div class="container">

    <div class="block-header">


        <ul class="actions m-t-20 hidden-xs">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Privacy Settings</a>
                    </li>
                    <li>
                        <a href="">Account Settings</a>
                    </li>
                    <li>
                        <a href="">Other Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="card" id="profile-main" data-ng-controller="ProfileCtrl as pctrl">
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="{{datos.foto}}" alt="">
                    </a>

                    <div class="dropdown pmop-message" uib-dropdown>
                        <button uib-dropdown-toggle class="btn bgm-white btn-float">
                            <i class="zmdi zmdi-comment-text-alt"></i>
                        </button>


                    </div>

                    <div class="pmop-edit">
                        <i class="zmdi zmdi-camera"></i>
                        <span class="hidden-xs">Actuallizar Foto de Perfil</span>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput"></div>
                            <div>
                    <span class="btn btn-info btn-file">
                        <span class="fileinput-new">Seleccionar</span>
                        <span class="fileinput-exists">Cambiar</span>
                        <input id="fotoperfil" type="file" name="...">
                    </span>
                                <a href="javascript:;" class="btn btn-danger fileinput-exists" data-ng-click="actualizarFoto();" >Actualizar</a>
                            </div>
                        </div>
                    </div>
                </div>








            </div>


            <div class="pmo-block pmo-contact hidden-xs">
                <h2>Contacto</h2>

                <ul>
                    <li><i class="zmdi zmdi-phone"></i> {{ datos.telefono }}</li>
                    <li><i class="zmdi zmdi-email"></i> {{ datos.correo_electronico }}</li>
                </ul>
            </div>


        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" >

                <li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-about">Información Básica</a></li>



            </ul>

            <data ui-view></data>
        </div>
    </div>
</div>
